# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

css-testsOLD/.gitignore
css-testsOLD/babel.config.js
css-testsOLD/package-lock.json
css-testsOLD/package.json
css-testsOLD/README.md
css-testsOLD/public/favicon.ico
css-testsOLD/public/index.html
.vite/_metadata.json
.vite/package.json
css-tests/.vscode/
