nav {
    border: 1px solid firebrick;
    border-radius: 6px;
    ul {
        
        border: 1px solid gray;
        margin: 0;
        padding: 1;
        list-style: none;
        
        li {
            border-radius: 6px;
            
            border: 1px solid firebrick;
        }

    }
}

